aside a span {
  display: inline-flex !important;
  justify-content: center;
  align-items: center
}

aside a span svg {
  display: none !important;
}

aside a span::before {
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48;
  font-family: "Material Symbols Outlined";
  font-size: 1.25rem;
}

aside a[href="#/collections/films"] span::before {
  content: "\e02c";
}

aside a[href="#/collections/pages"] span::before {
  content: "\e873";
}

aside a[href="#/collections/talks"] span::before {
  content: "\e0bf";
}


aside a[href="#/collections/settings"] span::before {
  content: "\e8b8";
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}
