:root {
  --easing-curve1: cubic-bezier(0, .67, .52, 1);

  /* new colors */
  --color-lavender: #e1d6ea;
  --color-dark-indigo: #1a1848;
  --color-dark-blue: #343289;
  --color-purple: #704497;
  --color-indigo-purple: #5e4b97;
  --color-magenta: #b95aa3;
  --color-yellow: #f5d643;
  --color-sky-blue: #56b7e8;
  --color-cream: #fcf8cd;
  --color-peach: #f7b3a4;
  --color-pale-cyan: #d5effb;
  --background-color: var(--color-dark-indigo);
}

html {
  font-family: futura-pt, sans-serif;
  font-weight: 500;
  font-style: normal;
}

body {
  background-size: 100% 1000%;
  background-position: 0% 40%;
  transition: background 1s;
  background-color: white;
  --background-color: white;
  min-height: 100vh;
  height: 100%;
  color: var(--c-be)
}

p, li {
  font-size: 1.25rem;
}

.sky {
  position: absolute;
  inset: 0;
  height: calc(100dvh / 3 * 2);
  z-index: -1;
}

.sky-bg1 {
  background :  linear-gradient(180deg, rgba(185, 106, 107, 1) 0%, rgba(194, 111, 104, 1) 14.4%, rgba(220, 123, 97, 1) 38.25%, rgba(245, 135, 89, 1) 57.64%, rgba(245, 138, 93, 1) 65.08%, rgba(246, 147, 105, 1) 72.66%, rgba(247, 161, 126, 1) 80.3%, rgba(249, 182, 154, 1) 87.98%, rgba(251, 208, 191, 1) 95.63%, rgba(253, 225, 215, 1) 100%);
}

.sky-bg2 {
background: linear-gradient(180deg,  rgba(210, 109, 74, .2), rgba(210, 109, 74, 1),  rgba(210, 109, 74, .2) );
/* background: linear-gradient(180deg, red 20%, transparent); */
mix-blend-mode: multiply;
opacity: .6;
}

.sky-bg3 {
background: linear-gradient(180deg, #754755, transparent);
mix-blend-mode: multiply;
opacity: .6;
}

.horizon {
  position: absolute;
  inset: 0;
  background: url(/img/horizon.webp);
  background-size: cover;
  height: 100vh;
}

a.underlined-link {
  box-shadow: inset 0 -2px 0 var(--color-magenta);
}
.moving-title-wrapper {
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  display: grid;
  place-content: center;
  z-index: 10;
  pointer-events: none;
  opacity: 0;
}

.moving-title {
  @apply text-4xl;
  display: flex;
  justify-content: flex-end;
  text-transform: uppercase;
  font-weight: 700;
  position: relative;
  transform: translateX(0);
  transform-origin: top right;
}

 .title-g {
  position: relative;
  color: var(--color-lavender);
}
.title-ff {
  position: relative;
  transform-origin: 100% 100%;
  color: var(--color-yellow);
}

.logo-wrapper {
  height: calc(6rem - 4px);
  width: 5rem;
  position: relative;
  left: 18px;
  color: var(--color-sky-blue);
}

/* .page-home .logo-wrapper a{
  display: none;
} */

.page-home {
  --background-color: var(--color-lavender);
  background-color: var(--color-dark-indigo);
  background: url(/img/poster.webp);
  background-size: cover;
  background-position: center;
  color: var(--color-cream);

  .mobile-nav {
    color: var(--color-dark-indigo);
  }
}

.page-sponsors {
  --background-color: white;
  background-color: white;
}

.page-when h4 {
  font-weight: 700;
}

.page-when ul {
  margin-bottom: 2rem;
}

.lead-text {
  max-width: 720px;
}
.lead-text p {
margin-bottom: 1rem;
}

.lead-text a {
  box-shadow: inset 0 -2px 0 var(--color-magenta);
}

.lead-text a:hover {
  color: var(--color-magenta);
}

.page-enter-active,
.page-leave-active {
  transition: opacity .5s;
}

.page-enter,
.page-leave-to {
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity .5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.page-wrapper {
  @apply grid grid-cols-1;
  padding: 2rem;
  margin: 0 auto;
  height: 100%;
  position: relative;
}

.page-home .page-wrapper {
  padding: 2rem;
}

header nav {
  position: fixed;
  top: 2rem;
  left: 2rem;
  display: none;
}

@media screen and (min-width: 500px) {
  .page-wrapper {
    padding: 2rem;
  }
}

@media screen and (min-width: 1001px) {
  header nav {
    top: calc(2.5rem - 2px);
    left: 3rem;
    display: block;
  }

  .moving-title-wrapper {
    opacity: 1;
  }

.page-wrapper {
  padding: 1.5rem 18rem 0 14rem;
}
}

@media screen and (min-width: 1500px) {
  .page-wrapper {
    padding: 1.5rem 22% 0 18%;
  }
}

.nav-toggle {
  color: var(--color-sky-blue);
}

.page-home .mobile-nav-wrapper .nav-toggle {
  right: 50%;
  top: 1.5rem;
  transform: translateX(50%);

  #logo {
    width: 3rem;
  }
}

header nav li a {
  background: linear-gradient(to right, var(--color-magenta), var(--color-magenta) 33%, var(--color-sky-blue) 66%, var(--color-sky-blue) 100%);
  background-size:400% 2px;
  background-repeat: no-repeat;
  background-position: left bottom;
  transition: background .24s ease-in;
}

header nav li:hover a {
  background-position: right bottom;
}

.page-wrapper main {
  padding-top: calc(1.5rem + 3px);
  margin-bottom: 3rem;
  height: 100%;
  min-height: 100vh;
}

.page-wrapper p {
  margin-bottom: 1rem;
}

.page-wrapper ul li {
  margin-bottom: 1rem;
  margin-left: 1rem;
  list-style-type: disc;
}

.page-wrapper header nav ul li {
  margin-bottom: .5rem;
  padding: 0;
  list-style-type: none;
  margin-left: 0;
}

.page-home .page-wrapper main {
  padding-top: 2rem;
}


h1 {
  @apply text-4xl mb-12;
  font-weight: 700;
  text-transform: uppercase;
  max-width: calc(100% - 80px);
  color: var(--color-dark-blue);
}

.page-home h1 {
  max-width: 100%;
}

/* Films */
.film-grid {
  @apply grid grid-cols-3 lg:grid-cols-6 gap-4;
}

.page-wrapper ul.film-grid li {
  @apply col-span-3;
  margin-left: 0;
  list-style-type: none;
  list-style: none;
}

main.film-detail h1
{
  margin-bottom: .5rem;
  text-transform: none;
  padding-right: 5rem;
}

main.talk-detail h1 {
  text-transform: none;
  margin-bottom: 3rem;
  padding-right: 5rem;
}

main.film-detail .film-header-meta {
  margin-bottom: 3rem;
}

main .film-info {
  @apply grid grid-cols-1 xl:grid-cols-2 gap-8 pt-12;
}

/* main.film-detail .film-synopsis {
  @apply col-span-1 lg:col-span-3;
} */

main.film-detail .film-synopsis p,
main.talk-detail .talk-synopsis p
 {
  margin-bottom: 1rem;
}

/* main.film-detail .film-credits,
main.talk-detail .film-credits
 {
  @apply col-span-1 lg:col-span-3;
} */

main.film-detail .film-credits-line,
main.talk-detail .film-credits-line
 {
  @apply col-span-1 lg:col-span-3 grid;
  grid-template-columns: 180px 1fr;
  box-shadow: inset 0 -1px red;
  position: relative;
  top: -0.375em;
}

main.film-detail .film-credits-line.no-underline {
  box-shadow: none;
}

main.film-detail .back-button {
  text-transform: uppercase;
  position: absolute;
  margin-top: -2rem;
}

.film-credits-label {
  justify-self: start;
  /* color: var(--color-magenta); */
  background-color: var(--color-cream);
  position: relative;
  top: 0.375em;
  padding-right: 0.375em;

}

.film-credits-value {
  justify-self: end;
  background-color: var(--color-cream);
  padding-left: 0.375em;
  position: relative;
  top: 0.375em;
}

.film-thumbnail-wrapper {
  overflow: hidden;
  position: relative;
}

.film-thumbnail-wrapper img.thumbnail-image {
  transition: transform .3s var(--easing-curve1);
  will-change: transform;
}

.film-thumbnail-wrapper:hover img.thumbnail-image {
  transform: scale(1.05);
}

.thumbnail-arrow-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  z-index: 20;
  width: 90%;
  overflow: hidden;
}

.thumbnail-arrow-wrapper svg {
  transform: translateX(-100%);
  transition: transform .5s var(--easing-curve1);
  stroke: var(--color-cream);
  /* filter: drop-shadow(0 4px 4px rgba(0, 0, 0, .4)); */
}

.film-grid li a:hover .thumbnail-arrow-wrapper svg {
  transform: none;
}

.thumbnail-gauze {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--color-cream);
  z-index: 15;
  opacity: 0;
  transition: opacity .2s;
}

.film-grid li a:hover .thumbnail-gauze {
  opacity: .1;
}

.film-thumbnail-wrapper {
  @apply mb-2;
}

.film-grid .film-title {
  display: inline;
  background: linear-gradient(to right, var(--color-cream), var(--color-cream) 33%, var(--color-dark-indigo) 66%, var(--color-dark-indigo) 100%);
  background-size: 400% 2px;
  background-repeat: no-repeat;
  background-position: left bottom;
  transition: background .24s ease-in;
}

.film-grid li a:hover .film-title {
  background-position: right bottom;
}

.film-credits-value a:hover .clickable {
  text-decoration: underline;
}

.film-stills-slider {
  position: relative;
  width: 100%;
  aspect-ratio: 16/9;
  overflow: hidden;
}

.slider_arrow {
  width: 4rem;
  height: 4rem;
  border-radius: 2rem;
  display: grid;
  place-content: center;
  background-color: var(--color-yellow);
  position: absolute;
  top: 50%;
  left: 1rem;
  opacity: 0;
  transition: opacity .2s;
}

.slider_arrow--right {
  left: calc(100% - 1rem);
  transform: translateX(-100%);
}

.slider_arrow img.arrow_flop {
  transform: rotate(180deg);
}

.film-stills-slider:hover .slider_arrow {
  opacity: 1;
}

.film-screenings {
  @apply mb-12;
}

.film-screenings h2,
.talk-info h2
 {
  text-transform: uppercase;
  letter-spacing: .1rem;
  margin-bottom: .5rem;
  font-weight: 700;
}

.film-screenings-list .film-screening {
  @apply grid grid-cols-1 lg:grid-cols-3 py-2;
  border-top: 1px solid var(--color-magenta);
}

.film-screenings-list .film-screening:last-child {
  border-bottom: 1px solid var(--color-magenta);
}

.film-screenings-list .film-screening .film-screening-venue {
  justify-self: center;
}

.film-screenings-list .film-screening .film-screening-tickets {
  justify-self: end;
}

.film-stills-slider .film-slide {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: opacity .3s, transform .5s var(--easing-curve1);
  transform: scale(1.05);
}

.film-stills-slider .film-slide.active {
  opacity: 1;
  transform: none;
}

/* Tickets grid */
.tickets-grid, .about-grid {
  /* @apply grid grid-cols-1 lg:grid-cols-2 mb-12; */
}

.tickets-button {
  /* justify-self: end; */
  color: var(--color-dark-indigo);
  background: linear-gradient(transparent, transparent 50%, var(--color-yellow) 50%, var(--color-yellow));
  background-size: 100% 200%;
  border: 6px solid var(--color-dark-indigo);
  display: grid;
  place-content: center;
  padding: 3rem;
  aspect-ratio: 16/9;
  width: 16rem;
  height: 9rem;
  transition: transform .2s ease, background .2s;
  transform: none;
  /* position: relative; */
  transform: translate(0, 0);
}

.tickets-button span {
  color: var(--color-dark-indigo);
}

 .tickets-button:hover {
  background-position: -200% 100%;
}

/* Sponsors */
.sponsors-grid {
  @apply grid grid-cols-1 lg:grid-cols-2 gap-4;
}

.sponsors-grid li {
  display: grid;
  place-content: center;
}

.sponsors-grid li img {
  width: 100%;
}

.staff-grid {
  @apply grid grid-cols-1 lg:grid-cols-2 gap-4;
}

.staff-grid img {
  margin-bottom: .5rem;
}

.staff-member {
  @apply mb-4;
}

.staff-member__name {
  font-weight: 700;
}

.staff-member__contact {
  justify-self: stretch;
  width: 100%;
}
.staff-member__contact a {
  display: block;
}

.staff-member__contact a:hover span.email {
  text-decoration: underline;
}
.staff-member__contact a span.external {
  opacity: 0;
  transition: opacity .2s;
}
.staff-member__contact a:hover span.external {
  opacity: 1;
}

main .talk-info {
  @apply grid grid-cols-1 lg:grid-cols-2 gap-8 pt-12;
}

/* Meta Block */
.meta-block {
  text-transform: uppercase;
  position: fixed;
  right: 3.2rem;
  top: 7.5rem;
  display: none;
  color: var(--color-sky-blue);

  .page-home & {
    color: var(--color-cream);
  }
}

.meta-block p {
  font-size: 1rem;
  margin-bottom: 0;
}

.meta-block .ornament {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 100;
  font-size: 2rem;
}

.meta-block .submit-link .email {
  box-shadow:inset 0 -2px var(--color-magenta);
}

.meta-block .submit-link .external {
  opacity: 0;
  transition: opacity .2s;
}

.meta-block .submit-link:hover .external {
  opacity: 1;
}

@media screen and (min-width: 1001px) {
  .tickets-grid .tickets-button {
    position: absolute;
  }
  .meta-block {
    display: block;
  }

  .talk-detail h1,
  .film-detail h1 {
    padding-right: 0;
  }

    footer.site-footer .copyright-info {
      order: -1;
    }
}

main.film-detail {
  @apply pb-40;
}

.socials-grid {
  @apply grid grid-cols-3 gap-4;
  width: fit-content;
  justify-self: center;
}

footer.site-footer {
  @apply grid grid-cols-1 lg:grid-cols-3 pb-8 lg:pb-0;
  justify-content: center;
  justify-items: center;
  gap: 1rem;
}



.mobile-info-block {
  display: block;
  top: 2rem;

  @media screen and (min-width: 1001px) {
    display: none;
  }
}

p.mobile-dates,
p.mobile-location {
  color: var(--color-cream);
  margin-bottom: 0;
}

.page-movies .title-ff,
.page-talks .title-ff,
.page-schedule .title-ff,
.page-about .title-ff,
.page-tickets .title-ff,
.page-venues .title-ff,
.page-helskitchen .title-ff,
.page-photo .title-ff
 {
  color: var(--color-yellow);
}

section p, section li {
  max-width: 720px;
}